* {
    margin: 0;
    padding: 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: $brand-font;
}

.section {
    padding: 60px 0;
}

.header {
    border-bottom: 1px solid #ececec;
    padding: 14.5px;
    align-items: center;

    &__menu-toggle {
        @extend %toggle;
        top: 5px;
        color: $brand-color;
    }
    &__menu-icon {
        transition: $transition;
        &:hover,
        &:focus {
            fill: $main-brand-color;
        }
    }
    &__desktop-menu {
        display: flex;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.container {
    margin: 0 auto;

    &__footer {
        padding: 60px 15px;
        text-align: center;
    }

    &__strenghts {
        padding: 0 15px;
    }
}

@media (width >= 480px) {
    .container__footer {
        display: flex;
        flex-direction: column;
    }
}
@media (width >= 768px) {
    .header {
        padding: 19px;

        &__menu-toggle {
            display: none;
        }

        &__desktop-menu {
            display: flex;
            align-items: center;
        }
        &__container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media (width >= 768px) {
    .container {
        max-width: 768px;

        &__footer {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (width >= 1200px) {
    .container {
        max-width: 1200px;

        &__footer {
            display: flex;
            flex-direction: row;
        }
    }

    .section--strenghts {
        padding-bottom: 0;
    }
}

@media (width >= 1200px) {
    .header {
        padding: 24.5px 0;

        &__desktop-menu {
            flex-grow: 1;
        }

        &__container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
