.clients {
    @extend %flex-sb;
    list-style: none;
    margin-top: 50px;

    &__logo {
        display: block;
        padding: 13px 31px;
        border: 1px solid $icon-color;
        border-radius: 4px;
        fill: $icon-color;
        transition: $transition;
        transition-property: fill border-color;

        &:hover,
        &:focus {
            fill: $main-brand-color;
            border-color: $main-brand-color;
        }
    }
}
