.footer {
    background-color: $main-background-color;
    text-align: center;

    &__list {
        list-style-type: none;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
    }

    &__item {
        list-style-type: none;
        font-style: normal;
        color: $complementary-color;
        margin-bottom: 9px;
        white-space: nowrap;
    }

    &__link {
        text-decoration: none;
        color: $footer-contacts-color;
        transition: color $transition;
        font-weight: 400;

        &:hover,
        &:focus {
            color: $main-brand-color;
        }
    }

    &__item:nth-last-child(1) {
        margin-bottom: 0px;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $complementary-color;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}
.join-us {
    margin-top: 60px;
    &__list {
        list-style: none;
        display: flex;
        gap: 10px;
        margin-top: 20px;
        justify-content: center;
    }

    &__link {
        fill: $complementary-color;
        background-color: $icon-transparent-background;
        border-radius: 50%;
        display: block;
        padding: 12px;
        font-size: 0;
        transition: background-color $transition;

        &:hover,
        &:focus {
            background-color: $main-brand-color;
        }
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;

    &__input {
        background-color: transparent;
        display: flex;
        justify-content: center;
        width: calc(100vw - 30px);
        max-width: 450px;
        padding-left: 16px;
        height: 50px;
        border: 1px solid $middle-color;
        filter: drop-shadow(0px 4px 4px $shadow-first);
        border-radius: 4px;
        transition: color $transition;

        &::placeholder {
            color: $footer-contacts-color;
        }

        &:focus-within {
            background-color: $icon-transparent-background;
            outline: none;
            color: $complementary-color;
        }
    }

    &__label {
        display: block;
        margin-bottom: 20px;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        color: $complementary-color;
    }

    &__btn {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $complementary-color;
        background: $main-brand-color;
        box-shadow: 0px 4px 4px $shadow-first;
        border: none;
        padding: 10px 28px 10px 42px;
        border-radius: 4px;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
        margin-top: 20px;
    }

    &__icon {
        fill: $complementary-color;
        margin-left: 24px;
        vertical-align: middle;
    }
}

@media (width >= 768px) {
    .footer__wrapper {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }
    .newsletter {
        flex-wrap: wrap;
    }
    .join-us {
        margin-top: 0;
        padding: 5px 13px;
    }

    .newsletter__input {
        width: 450px;
    }
}

@media (1200px > width >=768px) {
    .footer__wrapper {
        padding: 0 61px;
    }

    .newsletter {
        margin-top: 60px;
    }
    .newsletter__input {
        margin: 0 auto;
    }
}

@media (width >= 1200px) {
    .footer__wrapper {
        display: flex;
        text-align: left;
    }

    .address {
        margin-bottom: 0;
    }

    .join-us {
        padding: 12px 78px 0 70px;

        & .join-us__socials {
            margin-bottom: 0;
        }
    }

    .newsletter {
        align-items: flex-start;
        justify-content: left;
        padding-top: 12px;
        margin-top: 0;

        &__wrapper {
            display: flex;
            gap: 12px;
        }

        &__input {
            margin-bottom: 0;
            width: 358px;
        }

        &__btn {
            margin-top: 0;
        }

        &__label {
            text-align: left;
        }
    }
}
