.hero {
    background-color: $main-background-color;

    &__content {
        background-image: linear-gradient(
                $gradient-transparent-color,
                $gradient-transparent-color
            ),
            url('../images/hero-img-m@1x.jpg');

        background-position: center;
        background-size: 480px 400px;
        padding: 118px 40px;
        text-align: center;
    }

    &__heading {
        color: $complementary-color;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
    }
    &__btn {
        cursor: pointer;
        color: $complementary-color;
        background-color: $main-brand-color;
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        padding: 10px 41px;
        border-radius: 4px;
    }
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__content {
        background-image: linear-gradient(
                $gradient-transparent-color,
                $gradient-transparent-color
            ),
            url('../images/hero-img-m@2x.jpg');
    }
}

@media (width >= 768px) {
    .hero {
        &__content {
            padding: 118px 201px;
            background-image: linear-gradient(
                    $gradient-transparent-color,
                    $gradient-transparent-color
                ),
                url('../images/hero-img-t@1x.jpg');
            background-size: 768px 400px;
        }
    }
}

@media (width >= 768px) and(min-device-pixel-ratio: 2),
    (width >= 768px) and (min-resolution: 192dpi),
    (width >= 768px) and (min-resolution: 2dppx) {
    .hero__content {
        background-image: linear-gradient(
                $gradient-transparent-color,
                $gradient-transparent-color
            ),
            url('../images/hero-img-t@2x.jpg');
    }
}

@media (width >= 1200px) {
    .hero {
        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 200px 0;
            margin: 0 auto;
            max-width: 1600px;
            flex-direction: column;
            background-image: linear-gradient(
                    $gradient-transparent-color,
                    $gradient-transparent-color
                ),
                url('../images/hero-img-d@1x.jpg');
            background-size: 1600px 600px;
        }

        &__heading {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }
}

@media (width >= 1200px) and(min-device-pixel-ratio: 2),
    (width >= 1200px) and(min-resolution: 192dpi),
    (width >= 1200px) and (min-resolution: 2dppx) {
    .hero__content {
        background-image: linear-gradient(
                $gradient-transparent-color,
                $gradient-transparent-color
            ),
            url('../images/hero-img-d@2x.jpg');
    }
}
