.logo {
    font-size: 26px;
    font-weight: 700;
    font-family: $logo-font;
    line-height: 1.17;
    letter-spacing: 0.03em;
    align-items: center;
    max-width: 145px;
    text-decoration: none;
    color: $logo-color;

    &--accent {
        color: $main-brand-color;
        margin-right: 0;
    }

    &--alternative {
        color: $complementary-color;
        text-decoration: none;
    }
}

@media (width >= 1200px) {
    .logo {
        font-size: 26px;
    }
}
