.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms 250ms ease-in-out,
        visibility 250ms 250ms ease-in-out;

    .modal {
        transform: translate(-50%, -50%) scale(0.4);
    }
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $background-transparent;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 450px;
    background-color: $complementary-color;
    box-shadow: 0px 1px 3px $box-shadow-second, 0px 1px 1px $box-shadow-third,
        0px 2px 1px $box-shadow;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1s ease;
    padding: 40px;

    &__btn-close {
        padding-top: 6px;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border: 1px solid $border-first-color;
        background-color: $complementary-color;
        border-radius: 50%;
        cursor: pointer;
    }

    &__heading {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.17;
        color: $modal-form-color;
        text-align: center;
        justify-content: center;
        margin-bottom: 12px;
    }

    &__btn {
        display: flex;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $complementary-color;
        background: $main-brand-color;
        box-shadow: 0px 4px 4px $box-shadow-third;
        border-radius: 4px;
        padding: 10px 76px;
        border: none;
        cursor: pointer;
        margin: 0 auto;
    }
    &__form {
        @extend %flex-center;
        flex-direction: column;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        margin: 0;
        transition: fill $transition;
    }
}

.input-box {
    margin: 0;
    width: 100%;
    transition: fill $transition;

    &__label {
        margin-bottom: 4px;
        display: block;
        text-align: left;
        font-size: 12px;
        color: $brand-color;
    }
    &__inner-box {
        position: relative;
        margin-bottom: 10px;
        height: 40px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:focus-within {
            fill: $main-brand-color;
        }
    }

    &__input {
        border: 1px solid $border-secondary-color;
        border-radius: 4px;
        padding: 12px 0 12px 42px;
        width: 100%;
        outline: none;
        transition: border-color $transition;

        &:focus-within {
            border: 1px solid $main-brand-color;
            outline: none;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: $modal-form-field;
        }
    }

    &__icon {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
    }
    &__textarea {
        padding: 12px 16px;
        resize: none;
    }
}

.declaration {
    &__label {
        margin: 20px 0 30px 0;
        @extend %flex-sb;
    }

    &__checkbox {
        opacity: 0;
        position: absolute;

        &-inactive {
            position: absolute;
        }

        &-active {
            visibility: hidden;
        }
    }
}

.declaration__checkbox:checked + .declaration__checkbox-inactive {
    opacity: 0;
}

.declaration__checkbox:checked ~ .declaration__checkbox-active {
    visibility: visible;
}

.declaration-statement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $brand-color;
    text-align: center;
    margin-left: 7px;

    &__link {
        color: $main-brand-color;
    }
}
